<div class="ui segment" [style.background-image]="'url(../../assets/photo-1534445817031-c529c7186f30.png)'"
style="background-position: 10% 90%; height:300px;" id='segment-top' >
  <img class="ui small circular image" src="{{artistImg$ | async}}" style="margin: 0 auto; padding: 10px;">
</div>
<div class="ui inverted segment" id='segment-top'>
  <div class="ui inverted relaxed divided list">
    <h3>Top Tracks:</h3>
    <div class="item" *ngFor='let track of topTracksInfo | async'>
      <div class="content">
        <img src="{{track.album.images[0].url}}" class="ui small circular image"/>
        <div class="header" style="margin-left: 30px;">{{track.name}}</div>
        <!-- <iframe [src]="track.uri | safe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe><div class="dropdown"></div> -->

      </div>
    </div>
</div>

<div class="ui cards">
    <div class="card"  *ngFor='let tt of test$ | async'>
      <div class="content">
        <div class="header">{{tt.title}}</div>
        <div class="description">
         {{tt.description}}
        </div>
        <div class="description"><a href="{{tt.url}}" target="_blank">Visit Website</a></div>
      </div>
</div>





