<div class="ui segment">
  <h3 style="font-style: italic;">Reveal your favourite Spotify artists with our Web App & get all the latest news</h3>
</div>


<ng-container *ngIf='authorized'>
    <div class="ui link cards">
      <div class="card" *ngFor='let artist of favouriteArtists'>
        <div class="image">
          <a routerLink="artists/{{artist.name}}/{{artist.id}}"><img src="{{artist.images[0].url}}" style="width: 280px; height: 280px;"></a>
        </div>
        <div class="content">
          <div class="header">{{artist.name}}</div>
          <div class="meta">
            <a>Main Genre - {{artist.genres[0]}}</a>
          </div>
         <!--  <div class="description">

          </div> -->
        </div>
        <div class="extra content">
          <span>
            <i class="user icon"></i>
            {{artist.followers.total}} Followers
          </span>
        </div>
      </div>
    </div>
</ng-container>





