<div class="ui segment" [style.background-image]="'url(../../assets/photo-1504509546545-e000b4a62425.png)'" id='jumbotron'>
  <ng-container *ngIf='!authorized'>
    <h3 style="font-style: italic; color: white;">Reveal your favourite Spotify artists with our Web App & get all the latest news</h3>
    <h3 style="font-style: italic; color: white;">Log In & discover more</h3>
  </ng-container>
  <ng-container *ngIf='authorized'>
    <h3 style="font-style: italic; color: white;">Hello, {{user$ | async}}</h3>
  </ng-container>
</div>


<ng-container *ngIf='authorized'>
    <div class="ui link cards" style="display: flex; justify-content: center;">
      <div class="card" *ngFor='let artist of favouriteArtists'>
        <div class="image">
          <a routerLink="artists/{{artist.name}}/{{artist.id}}"><img src="{{artist.images[0].url}}" style="width: 280px; height: 280px;"></a>
        </div>
        <div class="content">
          <div class="header">{{artist.name}}</div>
          <div class="meta">
            <a>Main Genre - {{artist.genres[0]}}</a>
          </div>
         <!--  <div class="description">

          </div> -->
        </div>
        <div class="extra content">
          <span>
            <i class="user icon"></i>
            {{artist.followers.total}} Followers
          </span>
        </div>
      </div>
    </div>
</ng-container>





