<div style="display: flex; justify-content: center; margin-top: 60px; margin-bottom: 30px;">
    <h2 style="font-style: italic; color: black;">Featured artists admired by our team</h2>
</div>
<div class="ui link cards" style="display: flex; justify-content: space-evenly;">
  <div class="card">
    <div class="image">
      <img src="https://i.scdn.co/image/7e1f7ad6e0cd4aad43e71a88a942283004d68c85">
    </div>
    <div class="content">
      <div class="header">Thievery Coorporation</div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://i.scdn.co/image/60ba5578859405e791fad7653719d5a4b15d580f">
    </div>
    <div class="content">
      <div class="header">Morcheeba</div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://i.scdn.co/image/96c37edfb3bc9a92923ad352aa50dd03308e732d">
    </div>
    <div class="content">
      <div class="header">Hooverphonic</div>
    </div>
  </div>
</div>

