<div class="ui menu" style="background: linear-gradient(0deg, rgba(151,233,208,1) 0%, rgba(246,255,233,1) 100%)">
  <div class="header item">
    My Spotify App
  </div>

    <div class="right menu" *ngIf='authorized$'>
      <a class="item" (click)='logOutUser()'>Logout</a>
    </div>

    <div class="right menu" *ngIf='!authorized$'>
      <a class="item" href="https://accounts.spotify.com/authorize?client_id={{clientId}}&scope={{scope}}&response_type=token&redirect_uri={{redirectUri}}">
        <!-- <i class='fa fa-spotify fa-2x'></i>Connect Spotify -->
        <img src="../../../assets/Spotify_Logo_CMYK_Green.png" style="width: 100px;"/>
      </a>
    </div>

</div>
